<button type="button" class="btn submit-order btn-primary" data-toggle="modal" data-target=".stripe-modal">Submit Order</button>
<h4>Total: {{total | currency }}</h4><br>
<br><br>
<!-- Large modal -->
<div class="modal fade stripe-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form ng-submit='charge(payment)' class='col-xs-4 col-md-12'>
                <section class='form-group col-md-12'>
                    <h2>Total:</h2>
                    <h3 ng-model='mockPrice'>${{total}}.00</h3>
                </section>
                <section class='checkout-input form-group col-md-8'>
                    <label>Card Holder:</label>
                    <input type="text" name="name" class='form-control' placeholder='John Doe' required>
                </section>
                <section class='checkout-input form-group col-md-8'>
                    <label>Card Number:</label>
                    <input class='form-control' ng-model="payment.card.number" type="text" placeholder="4242424242424242" required>
                </section>
                <section class="checkout-input col-md-12">
                    <section class='form-group col-md-2'>
                        <label>Exp. Mo</label>
                        <input class='form-control' ng-model="payment.card.exp_month" type="text" name="name" placeholder="10">
                    </section>
                    <section class='form-group col-md-2'>
                        <label>Exp. Yr</label>
                        <input class='form-control' ng-model="payment.card.exp_year" type="text" name="name" placeholder="20">
                    </section>
                    <section class='form-group col-md-3'>
                        <label>CVC:</label>
                        <input class='form-control' ng-model="payment.card.cvc" placeholder='424' type="text" required>
                    </section>
                </section>
                <section class="checkout-btns col-md-12">
                    <button class='btn btn-danger' data-dismiss="modal">Close</button>
                    <button class='btn btn-primary' type="sumbit">Confirm</button>
                </section>
            </form>
        </div>
    </div>
</div>


<div class="cart-product col-md-4" ng-repeat="product in orderData.products">
    <img class="col-md-12" src="{{product.img}}" alt="">
    <h4>{{product.name}}</h4>
    <p>Total: {{product.price * product.qty | currency}}</p>
    <input class="qty-btn" type="number" min="1" ng-model="product.qty" ng-change="updateItem(product.pio_id, product.qty)">
    <button class="btn btn-danger btn-sm" type="button" name="button" ng-click="deleteItem(product.id)">Remove</button>
    <!-- <hr> -->
</div>

<div ng-hide="orderData.products.length">
    <h3>No products in cart</h3>
</div>
