<button class="btn btn-primary" type="button" ng-click="submit()">Submit Order</button>
<h4>Total: {{total | currency }}</h4><br>
<br><br>

<div class="cart-product col-md-4" ng-repeat="product in orderData.products">
  <img class="col-md-12" src="{{product.img}}" alt="">
  <h4>{{product.name}}</h4>
  <p>Total: {{product.price * product.qty | currency}}</p>
  <input class="qty-btn" type="number" min="1" ng-model="product.qty" ng-change="updateItem(product.pio_id, product.qty)">
  <button class="btn btn-danger btn-sm" type="button" name="button" ng-click="deleteItem(product.id)">Remove</button>
  <!-- <hr> -->
</div>

<div  ng-hide="orderData.products.length">
  No products in cart
</div>
