<div class="falcon9-background">
    <img class="col-xs-12 mobile-img" src="images/Falcon 9 DSCOVR Launch" alt="">
    <img class="col-xs-12 desktop-img" src="images/falcon_9_product_image2_0.jpg" alt="">
    <h2 class="falconhead">FALCON 9 & DRAGON TO RETURN ASTRONAUTS TO SPACE</h2>
    <a class="watch-falcon9 glyphicon glyphicon-play-circle" href="https://www.youtube.com/watch?v=ZkOKRkI4Nw4"></a>
</div>
<div class="falcon9-body dark">
    <div class="intro col-md-8">
        <h1>FALCON 9</h1>
        <p class="col-md-6">Falcon 9 is a two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of satellites and the Dragon spacecraft into orbit. As the first rocket completely developed in the 21st century, Falcon 9 was designed from
            the ground up for maximum reliability. Falcon 9’s simple two-stage configuration minimizes the number of separation events -- and with nine first-stage engines, it can safely complete its mission even in the event of an engine shutdown.</p>
        <p class="col-md-6">Falcon 9 made history in 2012 when it delivered Dragon into the correct orbit for rendezvous with the International Space Station, making SpaceX the first commercial company ever to visit the station. Since then SpaceX has made multiple flights
            to the space station, both delivering and returning cargo for NASA. Falcon 9, along with the Dragon spacecraft, was designed from the outset to deliver humans into space and under an agreement with NASA, SpaceX is actively working toward that
            goal.
        </p>
    </div>
    <div class="falc-mini col-md-4">
        <img src="./images/mini-falcon2.png" alt="">
        <div class="falc-mini-info falc-gallery">
            <img src="images/falcon9-1.png" alt="">
            <span>PHOTO GALLERY</span><br>
            <a href="#">SEE ALL <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="falc-mini-info">
            <span>FALCON 9</span>
            <a href="#">PRICING <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="falc-mini-info">
            <a href="#">LAUNCH MANIFEST <span class="glyphicon glyphicon-arrow-right"></span></a>

        </div>
        <div class="falc-mini-info">
            <span>FALCON 9</span>
            <a href="#">USER'S GUIDE <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
    <div class="desktop-falc container">
        <img class="desktop-falc9-img" src="images/falcon9-render.png" alt="">
        <div class="falc9-left">
            <h2>PAYLOAD</h2>
            <p>Falcon 9 devlivers payloads to space aboard the Dragon spacecraft or inside a composite fairing</p>
            <h4>DRAGON SPACECRAFT</h4>
            <p>Dragon carries cargo in the spacecraft’s pressurized capsule and unpressurized trunk, which can also accommodate secondary payloads. In the future, Dragon will carry astronauts in the pressurized capsule as well.</p>
            <a href="#">LEARN MORE ABOUT DRAGON <span class="glyphicon glyphicon-arrow-right"></span></a>
            <h4>COMPOSITE FAIRING</h4>
            <p>The payload fairing is for the delivery of satellites to destinations in low Earth orbit (LEO), geosynchronous transfer orbit (GTO) and beyond.</p>
            <a href="#">SEE COMPOSITE FAIRING ON FALCON HEAVY <span class="glyphicon glyphicon-arrow-right"></span></a>
            <h2>INTERSTAGE</h2>
            <p>The interstage is a composite structure that connects the first and second stages and holds the release and separation system. Falcon 9 uses an all-pneumatic stage separation system for low-shock, highly reliable separation that can be tested
                on the ground, unlike pyrotechnic systems used on most launch vehicles.</p>
            <h2>FIRST STAGE</h2>
            <p>Falcon 9’s first stage incorporates nine Merlin engines and aluminum-lithium alloy tanks containing liquid oxygen and rocket-grade kerosene (RP-1) propellant. After ignition, a hold-before-release system ensures that all engines are verified
                for full-thrust performance before the rocket is released for flight. Then, with thrust greater than five 747s at full power, the Merlin engines launch the rocket to space. Unlike airplanes, a rocket's thrust actually increases with altitude;
                Falcon 9 generates more than 1.7 million pounds of thrust at sea level but gets up to over 1.8 million pounds of thrust in the vacuum of space. The first stage engines are gradually throttled near the end of first-stage flight to limit
                launch vehicle acceleration as the rocket’s mass decreases with the burning of fuel.</p>
            <div class="falc-9-stats col-md-12">
                <h4 class="falc9-stats col-md-4">ENGINES</h4>
                <p class="big-stat">9</p>
                <h4 class="falc9-stats burntime col-md-6">BURN TIME</h4>
                <p class="big-stat" id="burntimeP">162sec</p>
                <h4 class="falc9-stats thrustLevel col-md-12">THRUST AT SEA LEVEL</h4>
                <span class="big-stat">7,607kN </span><span class="lil-stat">1,710,000 lbf</span>
                <h4 class="falc9-stats thrustLevel col-md-12">THRUST IN VACUUM</h4>
                <span class="big-stat">8,227kN </span><span class="lil-stat">1,849,500 lbf</span>
            </div>
            <img src="./images/falcon9-merlin-engines-solo.png" alt="">
        </div>
        <div class="falc9-right">
            <img class="col-md-6 lil-drg-img" src="./images/dragon-graphic3.png" alt="">
            <img class="col-md-6" src="./images/fairing-graphic.png" alt="">
            <p class="col-md-6 mini-img-dtails">Dragon Spacecraft & Trunk <br> 8.1m (26.6 ft) height, 3.7m (12 ft) diameter</p>
            <p class="col-md-6 mini-img-dtails">Composite Fairing 13.1m (43 ft) height, 5.2m (17.1 ft) diameter</p>
            <h2 class="col-md-12">SECOND STAGE</h2>
            <p>The second stage, powered by a single Merlin vacuum engine, delivers Falcon 9’s payload to the desired orbit. The second stage engine ignites a few seconds after stage separation, and can be restarted multiple times to place multiple payloads
                into different orbits. For maximum reliability, the second stage has redundant igniter systems. Like the first stage, the second stage is made from a high-strength aluminum-lithium alloy.</p>
            <div class="falc-9-stats col-md-12">
                <h4 class="falc9-stats col-md-4">ENGINE</h4>
                <p class="big-stat">1</p>
                <h4 class="falc9-stats burntime col-md-6">BURN TIME</h4>
                <p class="big-stat" id="burntimeP">397sec</p>
                <h4 class="falc9-stats thrustLevel col-md-12">THRUST</h4>
                <span class="big-stat">934kN </span><span class="lil-stat">210,000 lbf</span>
            </div>
            <h4 class="col-md-12" id="merlins">NINE MERLIN ENGINES</h4>
            <p>With its nine first-stage Merlin engines clustered together, Falcon 9 can sustain up to two engine shutdowns during flight and still successfully complete its mission. Falcon 9 is the only launch vehicle in its class with this key reliability
                feature.</p>
        </div>

    </div>
    <div class="technicaloverwiew container">
        <h2>Technical Overview</h2>
        <div class="col-md-3">
            <h3>HEIGHT</h3>
            <span class="big-stat"> 70 m</span>
            <span class="lil-stat"> 229.6 ft</span>
        </div>
        <div class="col-md-3">
            <h3>MASS</h3>
            <span class="big-stat"> 549,054 kg</span>
            <span class="lil-stat"> 1,207,920 lb</span>
        </div>
        <div class="col-md-3">
            <h3>PAYLOAD TO <span class="gold">LEO</span></h3>
            <span class="big-stat"> 22,800 kg</span>
            <span class="lil-stat"> 50,265 lb</span>
        </div>
        <div class="col-md-3">
            <h3>PAYLOAD TO <span class="gold">MARS</span></h3>
            <span class="big-stat"> 4,020 kg</span>
            <span class="lil-stat"> 8,860 lb</span>
        </div>
        <div class="col-md-3">
            <h3>DIAMETER</h3>
            <span class="big-stat"> 3.7 m</span>
            <span class="lil-stat"> 12 ft</span>
        </div>
        <div class="col-md-3">
            <h3>STAGES</h3>
            <span class="big-stat">2</span>
        </div>
        <div class="col-md-3">
            <h3>PAYLOAD TO <span class="gold">GTO</span></h3>
            <span class="big-stat"> 8,300 kg</span>
            <span class="lil-stat"> 18,300 lb</span>
        </div>
    </div>
    <div class="falc-9-plax falc-plax1">
        <div class="falc-9-details">
            <h2>PAYLOAD</h2>
            <p>Falcon 9 delivers payloads to space aboard the Dragon spacecraft or inside a composite fairing.</p>
            <h3>DRAGON SPACECRAFT</h3>
            <p>Dragon carries cargo in the spacecraft’s pressurized capsule and unpressurized trunk, which can also accommodate secondary payloads. In the future, Dragon will carry astronauts in the pressurized capsule as well.</p>
        </div>
    </div>
    <div class="falc-9-plax falc-plax2">
        <div class="falc-9-details">
            <h2>INTERSTAGE</h2>
            <p>The interstage is a composite structure that connects the first and second stages and holds the release and separation system. Falcon 9 uses an all-pneumatic stage separation system for low-shock, highly reliable separation that can be tested
                on the ground, unlike pyrotechnic systems used on most launch vehicles.</p>
        </div>
    </div>
    <div class="falc-9-plax falc-plax3">
        <div class="falc-9-details">
            <h2>FIRST STAGE</h2>
            <p>Falcon 9’s first stage incorporates nine Merlin engines and aluminum-lithium alloy tanks containing liquid oxygen and rocket-grade kerosene (RP-1) propellant. After ignition, a hold-before-release system ensures that all engines are verified
                for full-thrust performance before the rocket is released for flight. Then, with thrust greater than five 747s at full power, the Merlin engines launch the rocket to space. Unlike airplanes, a rocket's thrust actually increases with altitude;
                Falcon 9 generates more than 1.7 million pounds of thrust at sea level but gets up to over 1.8 million pounds of thrust in the vacuum of space. The first stage engines are gradually throttled near the end of first-stage flight to limit
                launch vehicle acceleration as the rocket’s mass decreases with the burning of fuel.</p>
            <h2>SECOND STAGE</h2>
            <p>The second stage, powered by a single Merlin vacuum engine, delivers Falcon 9’s payload to the desired orbit. The second stage engine ignites a few seconds after stage separation, and can be restarted multiple times to place multiple payloads
                into different orbits. For maximum reliability, the second stage has redundant igniter systems. Like the first stage, the second stage is made from a high-strength aluminum-lithium alloy.</p>
        </div>
    </div>
    <div class="falc-9-plax falc-plax4">
        <div class="falc-9-details">
            <h2>NINE MERLIN ENGINES</h2>
            <p>With its nine first-stage Merlin engines clustered together, Falcon 9 can sustain up to two engine shutdowns during flight and still successfully complete its mission. Falcon 9 is the only launch vehicle in its class with this key reliability
                feature.
            </p>
        </div>
    </div>
</div>
<div class="container falc9-info">
    <h1 class="milestone-head">RECENT FALCON 9 MILESTONES</h1>
    <div class="falc9-block-img col-md-3">
        <img src="./images/falcon9_thumb_droneship.jpg" alt="">
        <h2><a href="#">DRONESHIP LANDINGSHIP</a></h2>
        <p>April 8, 2016</p>
        <p>First successful landing of Falcon 9 first stage on droneship.</p>
    </div>
    <div class="falc9-block-img col-md-3">
        <img src="./images/dragon_thumb.jpg" alt="">
        <h2><a href="#">SPACE STATION RESUPPLY</a></h2>
        <p>April 8, 2016</p>
        <p>Dragon returns to the Space Station, delivering supplies for the crew.</p>
    </div>
    <div class="falc9-block-img col-md-3">
        <img src="./images/falcon9_thumb_lz1.jpg" alt="">
        <h2><a href="#">THE FALCON HAS LANDED</a></h2>
        <p>December 21, 2015</p>
        <p>First successful landing of Falcon 9 first stage on land.</p>
    </div>
    <div class="falc9-updates-container row">
        <h2 class="col-md-12 falc9-updates-head">FALCON 9 UPDATES<a href="#">SEE ALL UPDATES <span class="glyphicon glyphicon-arrow-right"></span></a></h2>
        <div class="col-md-8">
            <p class="falc9-news-head">FALCON 9 NEWS<a href="#">SEE ALL <span class="glyphicon glyphicon-arrow-right"></span></a></p>
            <p>SEPTEMBER 14, 2015</p>
            <h4><a href="#">SPACEX SIGNS NEW COMMERCIAL LAUNCH CONTRACTS</a></h4>
            <p class="falc9-news-p">Two new orders for Falcon 9 and Falcon Heavy launch vehicles. <a href="#">READ ARTICLE</a></p>
            <p>APRIL 28, 2015</p>
            <h4><a href="#">FALCON 9 LAUNCHES SATELLITE FOR THALES ALENIA SPACE</a></h4>
            <p class="falc9-news-p">Falcon 9’s fifth launch in four months. <a href="#">READ ARTICLE</a></p>
        </div>
        <div class="falc9-gallery col-md-4">
            <p class="falc9-gallery-head">FALCON 9 GALLERY<a href="#">SEE ALL <span class="glyphicon glyphicon-arrow-right"></span></a></p>
            <img src="./images/thumb1-100x100.jpg" alt="">
            <img src="./images/thumb17.jpg" alt="">
            <img src="./images/vid-thumb1.jpg" alt="">
            <img src="./images/thumb2-100x100.jpg" alt="">
            <img src="./images/thumb3-100x100.jpg" alt="">
            <img src="./images/thumb4-100x100.jpg" alt="">
        </div>
    </div>
</div>
</div>
