<div class="updates-nav">
    <ul class="container update-nav nav nav-tabs">
        <li role="presentation" ng-click="changeNews()" class="updates-nav-item col-xs-12 col-md-4"><a>SPACEX NEWS</a></li>
        <li role="presentation" ng-click="changeGallery()" id="desktop-updates" class="updates-nav-item col-md-4"><a>MULTIMEDIA GALLERY</a></li>
        <li role="presentation" ng-click="changeManifest()" id="desktop-updates" class="updates-nav-item col-md-4"><a>LAUNCH MANIFEST</a></li>
    </ul>
</div>
<updates-news ng-show="news" ng-controller="sliderCtrl"></updates-news>
<updates-gallery ng-show="gallery" ng-controller="sliderCtrl"></updates-gallery>
<updates-manifest ng-show="manifest"></updates-manifest>
