<div class="updates-nav">
    <ul class="container update-nav nav nav-tabs">
        <li role="presentation" ng-click="changeNews()" class="updates-nav-item col-xs-12 col-md-6"><a>COMPANY</a></li>
        <li role="presentation" ng-click="changeGallery()" id="desktop-updates" class="updates-nav-item col-md-6"><a>CAPABILITIES AND SERVICES</a></li>
    </ul>
</div>
<div class="about-testing">
    <!-- possible remove -->
    <div class="about-background">
        <h2>SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets.</h2>
        <div class="quick-facts">
            <h3>QUICK FACTS ABOUT SPACEX:</h3>
            <table>
                <tbody>
                    <tr>
                        <th>Founded</th>
                        <th>Vehicles</th>
                        <th>Manifest</th>
                        <th>Employees</th>
                    </tr>
                    <tr>
                        <td>2002</td>
                        <td>3</td>
                        <td>70+</td>
                        <td>4,000+</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="about-videos">
        <div class="vid-border">
            <iframe class="vid1" src="https://www.youtube.com/embed/ujX6CuRELFE?rel=0" width="500" height="300"></iframe>
            <iframe class="vid2" src="https://www.youtube.com/embed/Ndpxuf-uJHE?rel=0" width="500" height="300"></iframe>
        </div>
        <a href="http://www.youtube.com/spacex"><button type="button" class="view-more btn btn-default" name="button">VIEW MORE SPACEX VIDEOS</button></a>
    </div>

</div>
<!-- possible remove-->
