<div class="dragon-background">
    <img class="col-xs-12" src="/images/dragon_product_page2.jpg" alt="">
    <h2 class="dragonHeader">FIRST PRIVATE SPACECRAFT TO THE SPACE STATION</h2>
    <a class="watch-falcon9 glyphicon glyphicon-play-circle" href="https://www.youtube.com/watch?v=ZkOKRkI4Nw4"></a>
</div>
<div class="falc-heavy-info dark">
    <div class="intro col-md-8">
        <h1>DRAGON</h1>
        <p class="col-md-6">Dragon is a free-flying spacecraft designed to deliver both cargo and people to orbiting destinations. Dragon made history in 2012 when it became the first commercial spacecraft in history to deliver cargo to the International Space Station and
            safely return cargo to Earth, a feat previously achieved only by governments. It is the only spacecraft currently flying that is capable of </p>
        <p class="col-md-6">returning significant amounts of cargo to Earth. Currently Dragon carries cargo to space, but it was designed from the beginning to carry humans. Under an agreement with NASA, SpaceX is now developing the refinements that will enable Dragon to
            fly crew. Dragon's first manned test flight is expected to take place as early as 2018.</p>
    </div>
    <div class="drag-mini col-md-4">
        <div class="falc-mini-info falc-gallery">
            <img src="images/dragon.png" alt="">
            <span>PHOTO GALLERY</span><br>
            <a href="#">SEE ALL <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="falc-mini-info">
            <a href="#">LAUNCH MANIFEST <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="falc-mini-info">
            <a href="#">CREW DRAGON <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
    <div class="desktop-falc container">
        <img class="desktop-falc9-img" src="images/falcon9-render.png" alt="">
        <div class="falc9-left">
            <h2>OVERVIEW</h2>
            <h4>TOTAL LAUNCH PAYLOAD MASS</h4>
            <span class="big-stat">6,000 kg</span>
            <span class="lil-stat">13,228 lbs</span>
            <h4>TOTAL LAUNCH PAYLOAD VOLUME</h4>
            <span class="big-stat">25 m3</span>
            <span class="lil-stat">883 ft3</span>
            <h2>PRESSURIZED SECTION</h2>
            <p>The pressurized section of the spacecraft, also referred to as the capsule, is designed to carry both cargo and humans into space. Towards the base of the capsule but outside the pressurized structure are the Draco thrusters, Dragon's guidance
                navigation and control (GNC) bay and Dragon’s advanced heat shield.</p>
            <h4>TOTAL RETURN PAYLOAD MASS</h4>
            <span class="big-stat">3,000 kg</span>
            <span class="lil-stat">6,614 lbs</span>
            <h4>TRUNK</h4>
            <p>Dragon’s trunk supports the spacecraft during ascent to space, carries unpressurized cargo and houses Dragon’s solar arrays. The trunk and solar arrays remain attached to Dragon until shortly before reentry to Earth’s atmosphere, when they
                are jettisoned.</p>
            <h4>TOTAL RETURN PAYLOAD VOLUME</h4>
            <span class="big-stat">11 m3</span>
            <span class="lil-stat">388 ft3</span>
        </div>
        <div class="falc9-right">
            <h4>TOTAL RETURN PAYLOAD VOLUME</h4>
            <span class="big-stat">11 m3</span>
            <span class="lil-stat">388 ft3</span>
            <h4>TOTAL RETURN PAYLOAD VOLUME</h4>
            <span class="big-stat">11 m3</span>
            <span class="lil-stat">388 ft3</span>
            <h2 class="col-md-12">SECOND STAGE</h2>
            <img src="/images/dragon-spacecraft-line-drawing.png" alt="">
            <img src="/images/trunk-drawing.png" alt="">
        </div>

    </div>
    <div class="technicaloverwiew container">
        <h2>Technical Overview</h2>
        <div class="col-md-3">
            <h3>HEIGHT WITH TRUNK</h3>
            <span class="big-stat">7.2 m</span>
            <span class="lil-stat">23.6 ft</span>
        </div>
        <div class="col-md-3">
            <h3>DIAMETER</h3>
            <span class="big-stat">3.7 m</span>
            <span class="lil-stat">12 ft</span>
        </div>
        <div class="col-md-3">
            <h3>SIDEWALL ANGLE</h3>
            <span class="big-stat">15°</span>
        </div>
        <div class="col-md-3">
            <h3>ORBIT DURATION</h3>
            <span class="big-stat">Up to 2 Years</span>
        </div>
    </div>
    <div class="falc-9-plax dragon-plax dragon-plax1">
        <div class="falc-9-details dragon-details1">
            <h2>OVERVIEW</h2>
            <h4>TOTAL LAUNCH PAYLOAD MASS</h4>
            <span class="big-stat">6,000 kg</span>
            <span class="lil-stat">13,228 lbs</span>
            <h4>TOTAL LAUNCH PAYLOAD VOLUME</h4>
            <span class="big-stat">25 m3</span>
            <span class="lil-stat">883 ft3</span>
            <h4>TOTAL RETURN PAYLOAD MASS</h4>
            <span class="big-stat">3,000 kg</span>
            <span class="lil-stat">6,614 lbs</span>
            <h4>TOTAL RETURN PAYLOAD VOLUME</h4>
            <span class="big-stat">11 m3</span>
            <span class="lil-stat">388 ft3</span>
        </div>
    </div>
    <div class="falc-9-plax dragon-plax2">
        <div class="falc-9-details">
            <h2>PRESSURIZED SECTION</h2>
            <p>The pressurized section of the spacecraft, also referred to as the capsule, is designed to carry both cargo and humans into space. Towards the base of the capsule but outside the pressurized structure are the Draco thrusters, Dragon's guidance
                navigation and control (GNC) bay and Dragon’s advanced heat shield.</p>
        </div>
    </div>
    <div class="falc-9-plax dragon-plax3">
        <div class="falc-9-details">
            <h2>TRUNK</h2>
            <p>Dragon’s trunk supports the spacecraft during ascent to space, carries unpressurized cargo and houses Dragon’s solar arrays. The trunk and solar arrays remain attached to Dragon until shortly before reentry to Earth’s atmosphere, when they
                are jettisoned.</p>
        </div>
    </div>
</div>

<div class="inside-dragon container-fluid">
    <h1>INSIDE THE SPACECRAFT</h1>
    <p class="col-md-6">The Dragon spacecraft has three configurations to meet a variety of needs: cargo, crew and DragonLab. To ensure a rapid transition from cargo to crew capability, the cargo and crew configurations of Dragon are almost identical. This commonality simplifies
        the human rating process, allowing systems </p>
    <p class="col-md-6">critical to crew and space station safety to be fully tested on unmanned cargo flights. With DragonLab, essentially the same spacecraft can be used as a platform for in-space technology demonstrations and experiments.</p>
    <div class="dragon-carousel col-md-12">
        <ul class="nav drag-nav nav-tabs">
            <li role="presentation" ng-click="changeCargo()" class="dragon-navs col-md-4"><a>CARGO</a></li>
            <li role="presentation" ng-click="changeCrew()" class="dragon-navs col-md-4"><a>CREW</a></li>
            <li role="presentation" ng-click="changeDragonlab()" class="dragon-navs col-md-4"><a>DRAGONLAB</a></li>
        </ul>
        <div class="tab cargo" ng-show="cargo" id="cargo-tab">
            <img src="/images/dragon-intertior.jpg" alt="">
            <div class="drag-content row">
                <h3 class="col-md-4">RESUPPLY THE SPACE STATION</h3>
                <div class="col-md-4">
                  <h5>01 DELIVERY AND RETURN SERVICES</h5>
                  <p>Dragon is the first commercial spacecraft to deliver cargo to the International Space Station and currently the only cargo spacecraft flying capable of returning significant amounts of cargo to Earth. Dragon accommodates pressurized cargo in the capsule as well as unpressurized cargo in its trunk.</p>
                </div>
                <div class="col-md-4">
                  <h5>02 VERSATILE CARGO RACKS</h5>
                  <p>The racks are a honeycomb carbon-aluminum construction designed for efficient packing in a zero-gravity environment. They accommodate a variety of standard-size NASA cargo bags as well as freezers for carrying materials such as biological samples.</p>
                </div>
            </div>
        </div>
        <div class="tab crew" ng-show="crew" id="crew-tab">
            <img src="/images/dragon-v2-interior-wide-cropped.jpg" alt="">
            <div class="drag-content row">
                <h3 class="col-md-3">TAKING HUMANS TO SPACE</h3>
                <div class="col-md-3">
                  <h5>01 PARTNERSHIP WITH NASA</h5>
                  <p>Dragon was designed from the outset to fly humans to space. Under an agreement with NASA, SpaceX is making upgrades to Dragon to allow for crew carrying capability.</p>
                </div>
                <div class="col-md-3">
                  <h5>02 CREW UPGRADES</h5>
                  <p>Dragon will be the world’s safest and most reliable crew transport vehicle, with seating for seven, life-support systems, controls with manual capability, and a powered launch escape system.</p>
                </div>
                <div class="col-md-3">
                  <h5>03 FIRST LAUNCH</h5>
                  <p>Upgrades to Dragon are currently in progress. Dragon’s first manned test flight is expected to take place as early as 2018.</p>
                </div>
            </div>
        </div>
        <div class="tab dragonlab" ng-show="dragonlab" id="dragonlab-tab">
            <img src="/images/dragon-lab.jpg" alt="">
            <div class="drag-content row">
              <h3 class="col-md-3">A FREE-FLYING MICROGRAVITY LABORATORY</h3>
              <div class="col-md-3">
                <h5>01 FACILITATING RESEARCH</h5>
                <p>DragonLab is a free-flying, unmanned platform designed for research and testing in a microgravity environment independent of the International Space Station.</p>
              </div>
              <div class="col-md-3">
                <h5>02 LONGEVITY</h5>
                <p>It can transport payloads, experiments, instruments, and sensors into space and back to Earth on missions ranging from one week to two years.</p>
              </div>
              <div class="col-md-3">
                <h5>03 CAPABILITIES</h5>
                <p>DragonLab can readily accommodate instrument and sensor testing, space physics and relativity experiments, radiation effects research, and many other microgravity tests.</p>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container falc9-info">
    <h1 class="milestone-head">RECENT DRAGON MILESTONES</h1>
    <div class="falc9-block-img col-md-3">
        <img src="./images/dragon_milestone_1_0.jpg" alt="">
        <h2><a href="#">CREW DRAGON</a></h2>
        <p>SEPTEMBER 10, 2015</p>
        <p>Step inside SpaceX's next gen spacecraft for human spaceflight.</p>
    </div>
    <div class="falc9-block-img col-md-3">
        <img src="./images/dragon_milestone_2_0.jpg" alt="">
        <h2><a href="#">PAD ABORT TEST</a></h2>
        <p>MAY 6, 2015</p>
        <p>Crew Dragon completes Pad Abort Test.</p>
    </div>
    <div class="falc9-block-img col-md-3">
        <img src="./images/dragon_milestone_3_0.jpg" alt="">
        <h2><a href="#">DRAGON DELIVERS CARGO</a></h2>
        <p>APRIL 14, 2015</p>
        <p>Sixth official ISS resupply mission.</p>
    </div>
    <div class="falc9-updates-container row">
        <h2 class="col-md-12 falc9-updates-head">DRAGON UPDATES<a href="#">SEE ALL UPDATES <span class="glyphicon glyphicon-arrow-right"></span></a></h2>
        <div class="col-md-8">
            <p class="falc9-news-head">DRAGON NEWS<a href="#">SEE ALL <span class="glyphicon glyphicon-arrow-right"></span></a></p>
            <p>MAY 22, 2015</p>
            <h4><a href="#">PAD ABORT TEST</a></h4>
            <p class="falc9-news-p">Dragon traveled from 0-100 mph in 1.2 seconds, reaching a max velocity of 345 mph. <a href="#">READ ARTICLE</a></p>
            <p>MAY 4, 2015</p>
            <h4><a href="#">5 THINGS TO KNOW ABOUT SPACEX’S PAD ABORT TEST</a></h4>
            <p class="falc9-news-p">Dragon’s first critical flight test in preparation for our first human mission. <a href="#">READ ARTICLE</a></p>
        </div>
        <div class="falc9-gallery col-md-4">
            <p class="falc9-gallery-head">FALCON 9 GALLERY<a href="#">SEE ALL <span class="glyphicon glyphicon-arrow-right"></span></a></p>
            <img src="/images/thumb21-100x100.jpg" alt="">
            <img src="/images/thumb22-100x100.jpg" alt="">
            <img src="/images/thumb23-100x100.jpg" alt="">
            <img src="/images/thumb24-100x100.jpg" alt="">
            <img src="/images/thumb25-100x100.jpg" alt="">
            <img src="/images/thumb26-100x100.jpg" alt="">
        </div>
    </div>
</div>
