<div class="falc-heavy-background">
  <img class="col-xs-12" src="/images/fheavy_product_page1.jpg" alt="">
</div>
<div class="falc-heavy-info dark">
  <div class="intro col-md-8">
      <h1>FALCON HEAVY</h1>
      <p class="col-md-6">When Falcon Heavy lifts off in 2017, it will be the most powerful operational rocket in the world by a factor of two. With the ability to lift into orbit over 54 metric tons (119,000 lb)--a mass equivalent to a 737 jetliner loaded with passengers, crew, luggage and fuel--Falcon Heavy can lift more than twice the payload of the next closest operational vehicle, the Delta IV Heavy, at one-third the cost. Falcon Heavy draws upon the proven heritage and</p>
      <p class="col-md-6">reliability of Falcon 9. Its first stage is composed of three Falcon 9 nine-engine cores whose 27 Merlin engines together generate more than 5 million pounds of thrust at liftoff, equal to approximately eighteen 747 aircraft. Only the Saturn V moon rocket, last flown in 1973, delivered more payload to orbit. Falcon Heavy was designed from the outset to carry humans into space and restores the possibility of flying missions with crew to the Moon or Mars.
      </p>
  </div>
  <div class="technicaloverwiew container">
      <h2>Technical Overview</h2>
      <div class="col-md-3">
      <h3>HEIGHT</h3>
      <span class="big-stat">70 m</span>
      <span class="lil-stat">229.6 ft</span>
    </div>
    <div class="col-md-3">
      <h3>STAGES</h3>
      <span class="big-stat">2</span>
    </div>
    <div class="col-md-3">
      <h3>BOOSTERS</h3>
      <span class="big-stat">2</span>
    </div>
    <div class="col-md-3">
      <h3>PAYLOAD TO <span class="gold">LEO</span></h3>
      <span class="big-stat">64,000kg</span>
      <span class="lil-stat">141,100 lb</span>
    </div>
    <div class="col-md-3">
      <h3>PAYLOAD TO <span class="gold">MARS</span></h3>
      <span class="big-stat">13,600kg</span>
      <span class="lil-stat">29,980 lb</span>
    </div>
    <div class="col-md-3">
      <h3>TOTAL WIDTH</h3>
      <span class="big-stat">12.2m</span>
      <span class="lil-stat">39.9 ft</span>
    </div>
    <div class="col-md-3">
      <h3>MASS</h3>
      <span class="big-stat">1,420,788kg</span>
      <span class="lil-stat">3,125,735 lb</span>
    </div>
    <div class="col-md-3">
      <h3>PAYLOAD TO <span class="gold">GTO</span></h3>
      <span class="big-stat">22,200kg</span>
      <span class="lil-stat">48,940 lb</span>
    </div>
    <div class="col-md-3">
      <h3>PAYLOAD TO <span class="gold">PLUTO</span></h3>
      <span class="big-stat">2,900kg</span>
      <span class="lil-stat">6,390 lb</span>
    </div>
  </div>
  <div class="falc-heavy-plax falc-heavy-plax">
      <div class="falc-heavy-details">
          <h2>PAYLOAD</h2>
          <p>Falcon Heavy missions will deliver large payloads to orbit inside a composite fairing, but the rocket can also carry the Dragon spacecraft.</p>
          <h4>COMPOSITE FAIRING</h4>
          <p>The composite payload fairing protects satellites during delivery to destinations in low Earth orbit (LEO), geosynchronous transfer orbit (GTO) and beyond.</p>
      </div>
      <div class="falc-heavy-details">
          <h2>SECOND STAGE</h2>
          <p>Falcon Heavy draws upon Falcon 9’s proven design, which minimizes stage separation events and maximizes reliability. The second-stage Merlin engine, identical to its counterpart on Falcon 9, delivers the rocket’s payload to orbit after the main engines cut off and the first-stage cores separate. The engine can be restarted multiple times to place payloads into a variety of orbits including low Earth, geosynchronous transfer orbit (GTO) and  geosynchronous orbit (GSO).</p>
      </div>
      <div class="falc-heavy-details">
          <h2>FIRST STAGE</h2>
          <p>Three cores make up the first stage of Falcon Heavy. The side cores, or boosters, are connected  at the base and at the top of the center core’s liquid oxygen tank. The three cores, with a total of 27 Merlin engines, generate 22,819 kilonewtons (5.13 million pounds) of thrust at liftoff. Shortly after liftoff the center core engines are throttled down. After the side cores separate, the center core engines throttle back up to full thrust.</p>
      </div>
      <div class="falc-heavy-details">
          <h4>BOOSTERS</h4>
          <p>Each of Falcon Heavy’s side cores, or boosters, is equivalent to the first stage of a Falcon 9 rocket with nine Merlin engines. At liftoff, the boosters and the center core all operate at full thrust. Shortly after liftoff, the center core engines are throttled down. After the side cores separate, the center core engines throttle back up.</p>
          <h4>THREE NINE-ENGINE CORES</h4>
          <p>Inside each of Falcon Heavy’s three cores is a cluster of nine Merlin engines.  These same engines power Falcon 9, enabling efficiencies that make Falcon Heavy the most cost-effective heavy-lift launch vehicle in the world. With a total of 27 first-stage engines, Falcon Heavy has engine-out capability that no other launch vehicle can match—under most payload scenarios, it can sustain more than one unplanned engine shutdown at any point in flight and still successfully complete its mission.</p>
      </div>
  </div>
</div>
<div class="container falc9-info">
  <h1 class="milestone-head">RECENT FALCON HEAVY MILESTONES</h1>
  <div class="home-block-img col-md-3">
    <img src="./images/falcon9_thumb_droneship.jpg" alt="">
    <h2><a href="#">LAUNCH MANIFEST</a></h2>
    <p>SEPTEMBER 14, 2015</p>
    <p>See Falcon Heavy and Falcon 9 missions on manifest.</p>
  </div>
  <div class="home-block-img col-md-3">
    <img src="./images/dragon_thumb.jpg" alt="">
    <h2><a href="#">LAUNCH ANIMATION</a></h2>
    <p>JANUARY 16, 2015</p>
    <p>See Falcon Heavy in action.</p>
  </div>
  <div class="home-block-img col-md-3">
    <img src="./images/falcon9_thumb_lz1.jpg" alt="">
    <h2><a href="#">100TH MERLIN 1D ENGINE</a></h2>
    <p>OCTOBER 16, 2014</p>
    <p>Largest private producer of rocket engines worldwide.</p>
  </div>
