<div class="falcon9-background">
    <img class="col-xs-12 mobile-img" src="images/Falcon 9 DSCOVR Launch" alt="">
    <img class="col-xs-12 desktop-img" src="images/falcon_9_product_image2_0.jpg" alt="">
    <h2 class="falconhead">FALCON 9 & DRAGON TO RETURN ASTRONAUTS TO SPACE</h2>
    <a class="watch-falcon9 glyphicon glyphicon-play-circle" href="https://www.youtube.com/watch?v=ZkOKRkI4Nw4"></a>
</div>
<div class="falcon9-body dark">
    <div class="intro col-md-8">
        <h1>FALCON 9</h1>
        <p>Falcon 9 is a two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of satellites and the Dragon spacecraft into orbit. As the first rocket completely developed in the 21st century, Falcon 9 was designed from
            the ground up for maximum reliability. Falcon 9’s simple two-stage configuration minimizes the number of separation events -- and with nine first-stage engines, it can safely complete its mission even in the event of an engine shutdown.</p>
        <p>Falcon 9 made history in 2012 when it delivered Dragon into the correct orbit for rendezvous with the International Space Station, making SpaceX the first commercial company ever to visit the station. Since then SpaceX has made multiple flights
            to the space station, both delivering and returning cargo for NASA. Falcon 9, along with the Dragon spacecraft, was designed from the outset to deliver humans into space and under an agreement with NASA, SpaceX is actively working toward that
            goal.
        </p>
    </div>
    <div class="technicaloverwiew">
        <h2>Technical Overview</h2>
        <h3>Height</h3>
        <p>70 M</p><p>229.6 FT</p>
        <h3>Mass</h3>
        <p>549,054 KG</p><p> 1,207, 920 LB</p>
        <h3>Diameter</h3>
        <p>3.7 M</p><p> 12 FT</p>
        <h3>Stages</h3>
        <p>2</p>
        <h3></h3>
        <p></p>
    </div>
    <div class="falc-9-plax falc-plax1">
        <div class="falc-9-details">
            <h2>PAYLOAD</h2>
            <p>Falcon 9 delivers payloads to space aboard the Dragon spacecraft or inside a composite fairing.</p>
            <h3>DRAGON SPACECRAFT</h3>
            <p>Dragon carries cargo in the spacecraft’s pressurized capsule and unpressurized trunk, which can also accommodate secondary payloads. In the future, Dragon will carry astronauts in the pressurized capsule as well.</p>
        </div>
    </div>
    <div class="falc-9-plax falc-plax2">
        <div class="falc-9-details">
          <h2>INTERSTAGE</h2>
          <p>The interstage is a composite structure that connects the first and second stages and holds the release and separation system. Falcon 9 uses an all-pneumatic stage separation system for low-shock, highly reliable separation that can be tested
            on the ground, unlike pyrotechnic systems used on most launch vehicles.</p>
        </div>
    </div>
    <div class="falc-9-plax falc-plax3">
        <div class="falc-9-details">
          <h2>FIRST STAGE</h2>
          <p>Falcon 9’s first stage incorporates nine Merlin engines and aluminum-lithium alloy tanks containing liquid oxygen and rocket-grade kerosene (RP-1) propellant. After ignition, a hold-before-release system ensures that all engines are verified
            for full-thrust performance before the rocket is released for flight. Then, with thrust greater than five 747s at full power, the Merlin engines launch the rocket to space. Unlike airplanes, a rocket's thrust actually increases with altitude;
            Falcon 9 generates more than 1.7 million pounds of thrust at sea level but gets up to over 1.8 million pounds of thrust in the vacuum of space. The first stage engines are gradually throttled near the end of first-stage flight to limit
            launch vehicle acceleration as the rocket’s mass decreases with the burning of fuel.</p>
            <h2>SECOND STAGE</h2>
            <p>The second stage, powered by a single Merlin vacuum engine, delivers Falcon 9’s payload to the desired orbit. The second stage engine ignites a few seconds after stage separation, and can be restarted multiple times to place multiple payloads
              into different orbits. For maximum reliability, the second stage has redundant igniter systems. Like the first stage, the second stage is made from a high-strength aluminum-lithium alloy.</p>
        </div>
    </div>
    <div class="falc-9-plax falc-plax4">
        <div class="falc-9-details">
                <h2>NINE MERLIN ENGINES</h2>
                <p>With its nine first-stage Merlin engines clustered together, Falcon 9 can sustain up to two engine shutdowns during flight and still successfully complete its mission. Falcon 9 is the only launch vehicle in its class with this key reliability
                  feature.
                </p>
        </div>
    </div>
  </div>
    <div class="falcon9-info container">
        <h1>RECENT FALCON 9 MILESTONES</h1>
        <div class="falcon9-block-img col-md-4">
            <img src="./images/falcon9_thumb_droneship.jpg" alt="">
            <strong><a href="#">DRONESHIP LANDINGSHIP</a></strong>
            <p>April 8, 2016</p>
            <p>First successful landing of Falcon 9 first stage on droneship.</p>
        </div>
        <div class="falcon9-block-img col-md-4">
            <img src="./images/dragon_thumb.jpg" alt="">
            <strong><a href="#">SPACE STATION RESUPPLY</a></strong>
            <p>April 8, 2016</p>
            <p>Dragon returns to the Space Station, delivering supplies for the crew.</p>
        </div>
        <div class="falcon9-block-img col-md-4">
            <img src="./images/falcon9_thumb_lz1.jpg" alt="">
            <strong><a href="#">THE FALCON HAS LANDED</a></strong>
            <p>December 21, 2015</p>
            <p>First successful landing of Falcon 9 first stage on land.</p>
        </div>
    </div>
</div>
