<div class="home-background">
    <img class="drgimg col-xs-12" src="./images/ses10.jpg" alt="">
    <div id="drgrtn">
        <p class="col-xs-6"><strong>SES-10 MISSION</strong></p>
        <button type="button" class="btn btn-default col-xs-4" name="button">Watch Replay</button>
    </div>
</div>
<div class="home-info">
    <p><strong>DESIGN, MANUFACTURE, LAUNCH <br> ADVANCED ROCKETS AND SPACECRAFT</strong></p>
    <section class="home-block-img col-md-3">
        <img src="./images/home_block_reusable.jpg" alt="">
        <strong><a href="#">REUSABILITY: THE KEY TO MAKING HUMAN LIFE MULTI-PLANETARY</a></strong>
    </section>
    <section class="home-block-img col-md-3">
        <img src="./images/home_block_commercial_crew.jpg" alt="">
        <strong><a href="#">COMMERCIAL CREW: TAKING AMERICA’S ASTRONAUTS TO SPACE</a></strong>
    </section>
    <section class="home-block-img col-md-3">
        <img src="./images/dragonprivate_smallv2.jpg" alt="">
        <strong><a href="#">PRIVATELY CREWED DRAGON MISSION BEYOND THE MOON IN 2018</a></strong>
    </section>
</div>
