<div class="home-background row">
    <img class="drgimg col-xs-12" src="./images/crs10dragonreturns.jpg" alt="">
</div>
<div id="drgrtn">
    <div class="col-xs-6">
        <p><strong>DRAGON RETURNS</strong></p>
    </div>
    <div class="col-xs-4 btn-sm">
        <button type="button" class="btn btn-default" name="button">Watch Replay</button>
    </div>
</div>
<div class="home-info container">
  <p><strong>DESIGN, MANUFACTURE, LAUNCH <br> ADVANCED ROCKETS AND SPACECRAFT</strong></p>
  <div class="home-block-img col-md-4">
    <img src="./images/home_block_reusable.jpg" alt="">
    <strong><a href="#">REUSABILITY: THE KEY TO MAKING HUMAN LIFE MULTI-PLANETARY</a></strong>
  </div>
  <div class="home-block-img col-md-4">
    <img src="./images/home_block_commercial_crew.jpg" alt="">
    <strong><a href="#">COMMERCIAL CREW: TAKING AMERICA’S ASTRONAUTS TO SPACE</a></strong>
  </div>
  <div class="home-block-img col-md-4">
    <img src="./images/dragonprivate_smallv2.jpg" alt="">
    <strong><a href="#">PRIVATELY CREWED DRAGON MISSION BEYOND THE MOON IN 2018</a></strong>
  </div>
</div>
