<div class="updates-nav">
  <ul class="container nav nav-tabs">
  <li role="presentation" class="col-xs-12 col-md-4"><a>SPACEX NEWS</a></li>
  <li role="presentation" id="desktop-updates" class="col-md-4"><a>MULTIMEDIA GALLERY</a></li>
  <li role="presentation" id="desktop-updates" class="col-md-4"><a>LAUNCH MANIFEST</a></li>
</ul>
</div>
<div class="">
  <slider images="images"></slider>
</div>
<div class="">
  <h1>SPACEX NEWS</h1>
  <p>SIGN UP FOR EMAIL UPDATES</p>
  <input type="email" name="" value="email" placeholder="Enter Your Email">
</div>
<div class="spaceX-news container col-md-6">
  <div class="news-block col-xs-12">
    <img class="col-xs-12" src="/images/echo23_vab.jpg" alt="">
      <span>MARCH 16, 2017</span>
      <h4>ECHOSTAR XXIII MISSION</h4>
      <p>On March 16, 2017, SpaceX’s Falcon 9 successfully delivered EchoStar XXIII, a commercial communications satellite for EchoStar Corporation, to a Geostationary Transfer Orbit (GTO).  EchoStar XXIII is a highly flexible, Ku-band broadcast satel</p>
  </div>
  <div class="news-block col-xs-12">
    <img class="col-xs-12" src="/images/dragoncrew.8k.jpg" alt="">
      <span>FEBRUARY 27, 2017</span>
      <h4>SPACEX TO SEND PRIVATELY CREWED DRAGON SPACECRAFT BEYOND THE MOON NEXT YEAR</h4>
      <p>We are excited to announce that SpaceX has been approached to fly two private citizens on a trip around the Moon late next year. They have already paid a significant deposit to do a Moon mission.</p>
  </div>
  <div class="news-block col-xs-12">
    <img class="col-xs-12" src="/images/crs-10_hangar.jpg" alt="">
      <span>FEBRUARY 20, 2017</span>
      <h4>CRS-10 MISSION</h4>
      <p>At 9:39:00 am ET on February 19, 2017, SpaceX’s Falcon 9 rocket, carrying the Dragon spacecraft, lifted off from Launch Complex 39A to deliver nearly 5,500 lbs of cargo and supplies to the International Space Station.</p>
  </div>
  <div class="news-block col-xs-12">
    <img class="col-xs-12" src="/images/iridium_launch-hangar.jpg" alt="">
      <span>JANUARY 14, 2017</span>
      <h4>IRIDIUM-1 MISSION IN PHOTOS</h4>
      <p>On January 14, 2017, SpaceX’s Falcon 9 successfully delivered 10 satellites to low-Earth orbit for Iridium, a global leader in mobile voice and data satellite communications.</p>
  </div>
  <div class="news-block col-xs-12">
    <img class="col-xs-12" src="/images/iridium_l-1-4.jpg" alt="">
      <span>JANUARY 13, 2017</span>
      <h4>IRIDIUM-1 MISSION</h4>
      <p>SpaceX’s Falcon 9 rocket will deliver 10 satellites to low-Earth orbit for Iridium, a global leader in mobile voice and data satellite communications.</p>
  </div>
  <div class="news-block col-xs-12">
    <img class="col-xs-12" src="/images/jcsat_16_39a_streak_1.jpg" alt="">
      <span>AUGUST 14, 2016</span>
      <h4>JCSAT-16 MISSION IN PHOTOS</h4>
      <p>On August 14, 2016, Falcon 9 successfully delivered the JCSAT-16 commercial communications satellite to its targeted Geosynchronous Transfer Orbit (GTO).</p>
  </div>
  <div class="news-block lastblock col-xs-12">
    <img class="col-xs-12" src="/images/abseut_outhor1.jpg" alt="">
      <span>JULY 15, 2016</span>
      <h4>PRESS KIT: CRS-9 DRAGON MISSION</h4>
      <p>SpaceX’s Falcon 9 rocket will launch the Dragon spacecraft to low Earth orbit to deliver critical cargo to the International Space Station (ISS) for NASA.</p>
  </div>


</div>
