    body {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #FFFFFF;
        padding-bottom: 0px;
    }

    .navbar-inverse .navbar-nav>li>a:hover {
        text-decoration: none;
        border-bottom: 2px solid #ccac55;
    }

    .navbar-inverse .navbar-nav>li>a:focus {
        color: #ccac55;
    }
    .navbar {
      border-radius: 0px;
    }

    .nav {
        padding: 1%;
    }

    .navbar-header {
        padding: 1.5%;
    }

    .container-fluid>.navbar-header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-brand {
        padding: 10px 0px 10px 10px;
    }
    .nav .nav-desk-only {
      display: none;
    }

    .navbar-nav>li>a {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 25px;
    }
    .navbar-inverse {
      background-color: #181C1F;
    }
    .follow {
        display: none;
    }

    .copyright {
        font-size: 13px;
        padding-left: 5px;
    }

    @media (min-width: 425px) {
        .copyright {
            font-size: 13px;
            padding-left: 40px;
        }
    }

    #gray>li>a {
        color: #8b939b;
    }

    #gray>li>a:hover {
        text-decoration: none;
        border-bottom: 2px solid #8b939b;
    }

    #gray>li>a:focus {
        color: #ccac55;
    }

    .navbar-nav {
        border-radius: 0px;
        min-height: 65px;
        margin: 7.5px 0px;
    }

    .navbar-bottom {
        margin-bottom: 0;
        background-color: #181C1F;
    }

    .navbar-bottom a {
        padding: 7px;
        position: relative;
        color: white;
        text-align: center;
        top: 6px;
    }

    .navbar-bottom span {
        position: relative;
        color: white;
        text-align: center;
        top: 6px;
    }

    .footer-laptop {
        display: none
    }

    @media (min-width: 992px) {
        .navbar-nav>li>a {
            padding-left: 0px;
            padding-right: 0px;
            margin-right: 25px;
        }
        .nav .nav-desk-only {
          display: inline;
        }
        .container-fluid>.navbar-header {
            margin-left: -15px;
            margin-right: -15px;
        }
        .footer-laptop {
            display: block;
        }
        .footer-laptop .col-md-3 {
            width: 25%;
            border-left: 1px dashed gray;
            color: white;
            margin-top: 2%;
        }
        .footer-laptop .no-bor {
          border-left: none;
        }
        .footer-laptop li {
            padding: 2%;
            color: lightgray;
        }
        .footer-laptop p {
            color: white;
        }
        footer .navbar {
            height: 300px;
        }
        .social-links {
            background-color: black;
            height: 60px;
            margin-top: 50px;
            padding-top: 10px;
            font-size: 16px;
            padding-left: 4%;
        }
        .copyright {
            left: 5%;
        }
        .follow {
            border-right: 1px solid white;
            display: inline;
        }
        .nav {
          padding: 1% 0%;
        }
    }

    @media (min-width: 1200px) {
        .social-links {
            padding-left: 10%;
        }
        .nav-content {
          margin: 0 5%;
        }
        .social-links {
            font-size: 20px;
            padding-left: 12%;
        }
        .nav {
          padding: 1%;
        }
    }
