.careers-background {
  height: 660px;
  margin-top: 85px;
  background-color: black;
}
.careers-header {
  text-align: center;
  color: white;
}
.careers-header img {
  margin-top: 75px;
}
.careers-header h1 {
  font-size: 50px;
  font-weight: 400;
}
.careers-header p {
  font-size: 16px;
  line-height: 25px;
  padding: 0 8%;
}
.careers-gray {
  background-color: #535A60;
  text-align: center;
  color: white;
  height: 1300px;
  position: relative;
}
.careers-gray h3 {
  font-size: 35px;
  margin-bottom: 50px;
}
.disc {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 50%;
  position: relative;
  color: white;
  background-color: rgba(3, 3, 3, 0.4);
}
.disc:focus {
  background-color: #EFEFEF;
  color: #000000;
  opacity: 0.6;
  z-index: 3;
}
.disc1 {
  left: 3%;
}
.disc2 {
  right: 3%;
}
.disc > span {
  display: block;
}
.last-disc {
  top: -65px;
}
.disc-content {
  text-align: left;
}
.disc-content h4 {
  color: #A8AFB6;
}
.disc-content p {
  color: white;
  font-size: 16px;
  line-height: 1.5em;
}
.careers-carousel {
  background-color: #181C1F;
  height: 700px;
  text-align: center;
  color: white;
}
.careers-carousel h2 {
  margin-top: 50px;
}
.careers-carousel p {
  padding: 1% 20%;
  font-size: 16px;
  line-height: 25px;
}
.your-future {
  background-color: #F0F0F0;
  height: 600px;
  text-align: center;
  color: #222;
}
.your-future p {
  padding: 1% 20%;
  font-size: 16px;
  line-height: 25px;
}
.career-option {
  text-align: left;
  padding-top: 17px;
  height: 60px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  list-style: none;
  font-weight: bold;
}
.career-option p {
  display: none;
  padding: 0px;
}
.career-option:hover {
  background-color: black;
  color: white;
  padding-top: 3px;
}
.career-option:hover p {
  display: block;
}
.career-option:hover span {
  display: none;
}
.career-btns {
  margin-top: 50px;
}
button:focus {outline:0;}


.slideshow {
  position: relative;
  overflow: hidden;
  height: 280px;
  top: -5px;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.6);
}
.images {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 60s linear infinite;
  transform: translate3d(0, 0, 0);
  text-align: left;
}
.images img {
  vertical-align: top;
  padding: 0 5px;
  width: 480px;
}
.slideshow-small {
  position: relative;
  overflow: hidden;
  height: 115px;
  margin-top: 40px;
}
.images-small {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 65s linear infinite;
  transform: translate3d(0, 0, 0);
  text-align: left;
}
.images-small img {
  vertical-align: top;
  padding: 0 5px;
  width: 240px;
}
@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-200%);
  }
}
@media (max-width: 1200px) {
  .careers-background {
    margin-top: 80px;
  }
}
