.shop-nav {
  margin-top: 85px;
  text-align: center;
  padding: 0 10%;
  background-color: #5e6266;
  color: white;
}
.shop-nav ul {
  list-style: none;
}
.shop-nav li {
  padding: 2% 3%;
}
.shop-nav li:hover {
  background-color: #222;
}
.right {
  float: right;
}
.shop-background {
  background-color: #181C1F;
}
.shop-content {
  text-align: center;
  padding: 2%;
  background-color: #212940;
  color: white;
}
.welcome-img {
  margin-top: 25px;
  margin-bottom: 25px;
}
.product-container {
  height: 385px;
}
.product-container a {
  color: white;
}
.product-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.product-details-view {
  height: 600px;
  text-align: left;
}
.collection h1 {
  text-align: left;
  padding-left: 5%;
  font-size: 45px;
  margin-bottom: 35px;
}
.green {
  color: #9FD815;
  margin-top: 25px;
}
.product-details-view input {
  color: black;
  width: 5%;
}
.product-details-view h1 {
  margin-bottom: 10px;
}
.details-p {
  margin-bottom: 55px;
}
.cart-btn {
  margin-left: 30px;
}
.product-info {
  margin-top:45px;
}
.qty-btn {
  color: black;
  width: 15%;
  margin-right: 35px;
}
.cart-product {
  margin-bottom: 20px;
}
