    <h1>Please Login</h1>
    <br>
    <!-- <form ng-submit="loginLocal(username, password)">
      <div class="six columns">
        <input class="u-full-width" placeholder="username" ng-model="username"/>
        <input class="u-full-width" placeholder="password" ng-model="password"/>
        <input class="button-primary" type="submit" value="Login"/>
      </div>
    </form> -->
    <a href="/auth"><button class="btn btn-primary">Login with Auth0</button></a>
    <a href="/auth/logout"><button class="btn btn-danger">Logout</button></a>
