<div class="collection">
  <h2>The Collection</h2>
  <div class="product-container col-md-4" ng-repeat="product in mens">
    <img class="col-md-12" src="{{product.products_img}}" alt="">
    <h4>{{product.products_name}}</h4>
    <p>${{product.products_price}}.00</p>
  </div>
  <div class="product-container col-md-4" ng-repeat="product in womens">
    <img class="col-md-12" src="{{product.products_img}}" alt="">
    <h4>{{product.products_name}}</h4>
    <p>${{product.products_price}}.00</p>
  </div>
</div>
