.dragon-background {
  text-align: center;
  margin-top: 60px;
  width: 100%;
  position: relative;
  height: 135px;
}
.dragon-background a {
  font-size: 30px;
  top: -100px;
}
.dragonHeader {
  font-size: 23px;
  margin-top: 10px;
  color: white;
  position: relative;
  padding: 0 5%;
  top: -80%;
}


@media (min-width: 992px) {
  .dragon-background a {
    font-size: 60px;
    top: -350px;
  }
  .dragonHeader {
    font-size: 45px;
    padding: 0px 35%;
  }
  .dragon-background {
    height: 518px;
    margin-top: 80px;
  }
}
