.falcon9-background {
  text-align: center;
  margin-top: 50px;
  width: 100vw;
  position: relative;
  height: 250px;
}
.falconhead {
  color: white;
  position: absolute;
  padding: 0 5%;
}
.watch-falcon9 {
  position: relative;
  font-size: 45px;
  color: white;
  top: -55px;
}
.falcon9-parallax1 {
  background-image: url('/images/falcon9-render1.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  height: 500px;
}
.falcon9-parallax2 {
  background-image: url('/images/falcon9-render2.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  height: 500px;
}
.falcon9-parallax3 {
  background-image: url('/images/falcon9-render3.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  height: 500px;
}
.falcon9-parallax4 {
  background-image: url('/images/falcon9-render4.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  height: 500px;
}
.dark {
  background-color: #181c1f;
  color: #ccc;
  position: relative;
  top: -20px;
}
.intro {
  padding: 0 6%;
}
.dark h1 {
  padding: 5px;
  border-bottom: 1px dashed gray;
}
.falcon9img {
  background-color: #181c1f;
  top: -10px;
  padding-top: 45px;
}
.falcon9details1 {
  top: 15%;
  font-weight: bold;
  padding: 0 5%;
  color: white;
  background-color: rgba(0, 0, 50, 0.7);
}
.falcon9details2 {
  top: 25%;
  font-weight: bold;
  padding: 0 5%;
  color: white;
  background-color: rgba(0, 0, 50, 0.7);
}
.falcon9details3 {
  top: 47%;
  font-weight: bold;
  padding: 0 5%;
  color: white;
  background-color: rgba(0, 0, 50, 0.7);
}
.falcon9details4 {
  top: 67%;
  font-weight: bold;
  padding: 0 5%;
  color: white;
  background-color: rgba(0, 0, 50, 0.7);
}
.falcon9details5 {
  position: absolute;
  top: 89%;
  font-weight: bold;
  padding: 0 5%;
  color: white;
  background-color: rgba(0, 0, 50, 0.7);
}
.table {
  position: relative;
  top: -190px;
  font-size: 30px;
}
.technicaloverwiew h3 {
  border-top: 1px solid;
}
.falcon9-info {
  position: relative;
  top: -175px;
}
.falcon9-block-img {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.falcon9-block-img>img {
    width: 100%;
}

.falcon9-block-img a {
    color: black;
}
