.col-xs-12 {
  padding: 0px;
}
/*.home-background {
  height: 640px;
  position: relative;
}
.home-background > img {
  position: absolute;
  bottom: 0;
  height: 1600px;
}*/
.home-info {
  background-color: lightgray;
  height: 700px;
  width: 300px;
}
.drgrtn {
font-size: 13px;
position: relative;
top: -30px;
left: 3%;
height: 5%;
color: white;
background-color: rgba(0, 0, 0, .5);
}
.drgimg {
  position: relative;
  top: 50px;
}

@media (min-width: @screen-sm-min) { ... }



@media (min-width: @screen-md-min) { ... }


@media (min-width: @screen-lg-min) { ... }
