    .col-xs-12 {
    padding: 0px;
}

.home-info {
    text-align: center;
}

#drgrtn {
    font-size: 13px;
    position: relative;
    top: 8px;
    margin-bottom: 15px;
    height: 45px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

#drgrtn>p {
    vertical-align: text-bottom;
}

#drgrtn>button {
    position: relative;
    top: -15%;
}

.drgimg {
    position: relative;
    top: 53px;
}

#drgrtn>.btn-sm {
    position: relative;
    right: -5%;
}

#drgrtn strong {
    position: relative;
    top: 10px;
}

.home-block-img {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.home-block-img>img {
    width: 100%;
}

.home-block-img a {
    color: black;
}

@media (min-width: 992px) {
    .drgimg {
        position: relative;
        top: -150px;
    }
    #drgrtn {
        top: -285px;
        height: 135px;
    }
    .col-xs-6 {
        width: 50%;
        margin-top: 10px;
        font-size: 45px;
    }
    #drgrtn strong {
        position: relative;
        top: 10px;
        left: 20%;
    }
    #drgrtn>.btn-sm {
        position: relative;
        right: -25%;
        top: 20%;
    }
    .btn-default {
      height: 50px;
      width: 145px;
    }
    .home-info {
        text-align: center;
        position: relative;
        top: -230px;
    }
    .home-block-img {
      top: 80px;
    }
    .home-info p {
      font-size: 30px;
    }
}

@media (min-width: 1200px) {
    .drgimg {
        position: relative;
        top: -230px;
    }
    #drgrtn {
        top: -365px;
        height: 135px;
    }
    #spaceX-nav .container-fluid {
        padding-left: 8%;
        padding-right: 8%;
    }
    .navbar {
        border-radius: 0px;
        min-height: 65px;
    }
    #drgrtn>.btn-sm {
        position: relative;
        right: -20%;
        top: 30%;
    }
    .container {
        width: 1170px;
        position: relative;
        top: -270px;
    }
    #drgrtn p {
        font-size: 40px;
    }
    .home-block-img {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        width: 175px;
        height: 50px;
        font-size: 20px;
    }s
